
/*
#back {
    background: -webkit-linear-gradient(#002643  30%, #015d91);
  background: -moz-linear-gradient(#002643  30%, #015d91);
  background: -o-linear-gradient(#002643  30%, #015d91);
  background: linear-gradient(#002643 30%, #015d91);
  overflow:visible;
}*/

/*
#backimg {
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(../img/fossmeet.gif);
}*/
