.mainfont {
    /*    font-family: 'Noto Sans', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #234045;
}

.navbar-color,
#myNavbar ul li a:focus {
    background-color: #0094aa;
    /*    background-color: #009fb7;*/
    opacity: 0.9;
}

.title {
    font-size: 4em;
    font-variant: small-caps;
    color: darkslategrey;
}

.titletext {
    margin-top: 120px;
}

.tagline {
    margin-bottom: 20px;
    opacity: 0.7;
}

.gradbtn {
     margin-bottom:  10px!important;
/*    padding: 5px!important;*/
    font-size: 20px;
    border-radius: 1px;
/*    text-transform: uppercase;*/
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-size: 1.1em!important;
/*    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);*/
    box-shadow: 5px 5px 10px #c4c4c4;
    border-radius: 5px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%)!important;
}

.gradbtn:hover {
    color: white!important;
    text-decoration: none;
    background-position: right center;
    /* change the direction of the change here */
}

.logos {
    width: 18em;
}

@media (max-width: 992px) {
    .title {
        font-size: 3em;
        text-align: center;
        font-variant: small-caps;
    }
    .titletext {
        text-align: center;
        margin-top: 20px;
    }
    .tagline {
        text-align: center;
        margin-bottom: 44px;
    }
    .logos {
        width: 9em;
    }
}


/*,.active*/

#myNavbar ul li a:hover {
    background-color: #009fb7;
    /*    background-color: #5fcfe0;*/
    color: #ffb59a;
}

#myNavbar ul li a,
.navbar-brand {
    font-size: 1.1em;
    font-variant: small-caps;
    color: white;
}

.icon {
    height: 18px;
}

.center {
    text-align: center;
    margin: 0 auto;
}


/*
#backimg .fill {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
*/

.logosmall {
    margin-top: -10px;
    width: 40px;
    height: 40px;
}

html,
body {
    height: 100%;
    margin: 0px;
}

.bodyback {
    background-color: #ebebeb;
}

p {
    font-size: 1.13em;
}


/*not responsive

.container {
    height: 100%;
}
*/

.container {
    margin-top: 44px;
    padding: 38px;
    box-shadow: 10px 10px 10px #c4c4c4;
}

.introtext {
    /*    background: #f5f5f5;*/
    background: #f5f5f5;
    opacity: 0.7;
}

.about {
    background: #d5e9f2;
}

.speakers {
    background: #80b0c1;
    color: white;
}

.contact {
    background: #358b9a;
    color: white;
}

.cover {
    background: #fcfcfc;
}


.intro {
    background: #f5f5f5;
}

.email {
    color: paleturquoise;
}

.aboutpic {
    /*    margin-top: 30px;*/
    background: #000;
    /*Change this to a background image or remove*/
    border: solid #fff;
    border-width: 10px 10px 30px 10px;
    box-shadow: 1px 1px 5px #333;
    /* Standard blur at 5px. Increase for more depth */
    -webkit-box-shadow: 1px 1px 5px #333;
    -moz-box-shadow: 1px 1px 5px #333;
    -ms-transform: rotate(5deg);
    /* IE 9 */
    -webkit-transform: rotate(5deg);
    /* Chrome, Safari, Opera */
    transform: rotate(5deg);
}

.aboutimg {
    height: 100%;
    vertical-align: middle
}

.gallery {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    background: #f5f5f5;
    color: white;
}


/*

.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
*/


/*

.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
*/

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.carousel-control {
    background: 0!important;
    color: #ffb59a!important;
    opacity: 1!important;
}

.outline {
    -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    max-height: 200px!important;
}

.imagesponsor img {
    max-height: 70px;
    max-width: 80%;
    margin: 20px;
}

.sponsors {
    background: white;
}

.speakerimg {
    max-width: 150px!important;

}

.polaroids {
    margin: 0 auto;
/*    padding: 20px;*/
    text-align: center;
}

.polaroid {
    display: inline-block;
    margin: 10px;
    position: relative;
/*    max-width: 230px;*/
    
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.polaroid img {
    border: 10px solid #fff;
    border-bottom: 50px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #888;
    -moz-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    height: auto;
    max-width: 100%;
}

.polaroid:hover {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

.polaroid p {
    color: #2e2e2e;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}



.date {
    font-size: 1.5em;
    margin-bottom: 44px;
    opacity: 0.7;
}
